$color : (
  error: #ff0000,
  stop : #EF5350,
  active: #b1f3ff,
  listItmeHover: #3355BB,
  string : #444444,
  border : #666666,
  update: rgba(135, 0, 177, 0.795),
  lightBackground: rgba(0, 0, 0, 0.04),
  inputSideborder: rgba(0, 0, 0, 0.5),
  sideborder: rgba(0, 0, 0, 0.1),
  graphicInterfaceOptionLight: #00ffff,
  graphicInterfaceBorderBottom: #eee
);
$fontStyleName: (
  title : 32px 700,
  text : 20px 400,
)
