
<%- include('./components/header.ejs', {title: title}); %>
<body>
  <h1>DonHand - 助手(驢驢)</h1>
  <h2>給所有使用者的便條</h2>
  <p>首先感謝各位讓我陪同，我跟其他所有line機器人前輩一樣！擁有收集能各位資料的能力，而我也有好好的在日記內紀錄下的每一位跟隨我的大哥哥和大姐姐。對於我會紀錄下來的資料會如何使用在這邊會好好說明！</p>
  <p>首先當各位選擇跟隨我的時候！我會好好的把你畫在我的日記裡面，然後寫上關於你的一些資訊。這包含你在line的唯一ID、目前在用的暱稱、語系、照片和你的狀態資訊。一般來說只要擁有你在line的唯一ID就可以不斷跟line公司更新你的狀態喔！</p>
  <p>而後在各位上傳圖片被警察叔叔發現違規的時候，就會好好將你的資料提供給警察叔叔！</p>
  <p>如果大哥哥或大姐姐沒有跟隨過我的話，我會好好將你的外觀描述給警察叔叔也就是你的line唯一ID。這樣警察叔叔就可以跟line公司索取你的資料了喔</p>
  <p>所以阿大家，我並不擁有使用者所上傳的任何資料與著作權也不為此負責，請各位在上傳所有檔案的時候注意不要違反著作權和其他法律...一旦觸法法律也需要自己負責喔，驢驢可是有好好紀錄下來每張圖片是誰上傳的呢！所以警察叔叔來訪的時候會好好將您的資料給警察叔叔喔！</p>
  <a href="https://github.com/Frenkieli/linebot_crawler">公開程式碼</a>
</body>
</html>
